$primary-text: #1C1A1A;
$secondary-text: #AAB2BD;
$primary-button-red: #FF6464;
$section-yellow-bg: #FFF389;
$section-blue-bg: #D9F3FF;
$section-dark-gray-bg: #333036;
$section-light-gray-bg: #535364;
