@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import "variables";

li {
  list-style-type: disc;
}

body {
  overflow-x: hidden;
}

header{
  top: auto;
  bottom: 0;
  padding: 17px;

  .main_logo{
    order: 20;
    background-color: #D9F94B;
  }
}

.section-vh {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-vh-end {
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.max_width {
  margin: 0 auto;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

.s {
  &-section-first {
    background-color: #F8F8F8;
    overflow: hidden;

    &-qrcode {
      background-color: #F2C9778F;
      width: 150px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      border-radius: 16px;
      padding: 17px 15px 20px;
      z-index: 5;
      position: absolute;
      right: 25px;
      bottom: 25px;

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        width: 149px;
        margin-top: 17px;
      }
    }
  }

  &-back-style-first {
    position: absolute;
    right: 0;
    bottom: -550px;
  }

  &-wrap-first {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    z-index: 2;

    &-logo {
      position: absolute;
      top: 50px;
      margin-left: -50px;
    }

    &-after {
      position: relative;
      z-index: 2;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 350px;
        height: 80px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='323' height='83' viewBox='0 0 323 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.64' d='M316.698 26.6984C316.855 28.3795 315.534 32.0202 307.984 37.2123C300.909 42.078 290.081 47.0707 276.048 51.7975C248.074 61.2201 208.651 69.1636 164.457 73.2737C120.264 77.3839 80.0518 76.8469 50.8202 72.7447C36.1559 70.6868 24.5932 67.7766 16.7422 64.2991C8.36456 60.5883 6.39492 57.2536 6.23857 55.5725C6.08222 53.8914 7.40311 50.2506 14.9528 45.0585C22.0278 40.1929 32.8555 35.2002 46.8888 30.4734C74.8625 21.0508 114.286 13.1073 158.479 8.99717C202.673 4.887 242.885 5.42401 272.117 9.52619C286.781 11.5841 298.344 14.4943 306.195 17.9718C314.572 21.6826 316.542 25.0173 316.698 26.6984Z' stroke='%23FF6464' stroke-width='12'/%3E%3C/svg%3E%0A");
        margin-top: -20px;
        margin-left: -300px;
        z-index: -1;
      }
    }

    &-top-text {
      color: $primary-text;
      font-weight: 400;
      font-size: 12px;
      line-height: 143%;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &-main-text {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 21px;
    }

    &-bottom-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 143%;
      margin-bottom: 25px;
    }
  }

  &-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &-button {
      background-color: $primary-button-red;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 31px 24px 31px;
      border-radius: 16px;
      border: none;
      color: #FFFFFF;
      text-decoration: none;

      &-text {
        white-space: nowrap;
      }
    }

    &-secondary {
      color: $secondary-text;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
    }
  }

  // second section

  &-back-style-second {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-left-radius: 64px;
  }

  &-section-second {
    background-color: #000000;
    z-index: 5;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    overflow: hidden;
  }

  &-wrap-second {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    z-index: 2;
    color: #FFFFFF;

    &-main-text {
      font-weight: 800;
      font-size: 32px;
      line-height: 33px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 35px;
    }

    &-under-main-text {
      font-weight: 400;
      font-size: 32px;
      line-height: 33px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 22px;
    }

    &-middle-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 24px;
    }

    &-list {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
  }

  // third section

  &-section-third {
    background-color: #FFFFFF;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //height: 100vh;

    &-video {
      width: 70%;
    }
  }

  &-wrap-third {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin-top: 100px;
    z-index: 2;

    &-after {
      position: relative;
      z-index: 2;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 220px;
        height: 30px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='211' height='26' viewBox='0 0 211 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5667 10.9457C21.5708 11.8663 5.26097 18.687 6.35956 19.4211C7.20945 19.9889 19.1679 16.7172 19.6935 16.5863C35.203 12.7235 51.6313 9.65464 68.4577 7.18532C70.0912 6.94559 77.9621 5.26935 79.2201 7.04068C80.2835 8.53814 79.5458 10.5712 79.5693 12.1028C79.5927 13.625 78.9988 15.7646 80.49 17.2082C82.0869 18.7541 87.7793 18.0396 90.3 17.8012C106.125 16.3043 120.307 13.014 135.254 10.425C138.261 9.90428 138.124 10.5844 138.048 11.7846C137.939 13.5099 136.739 16.5188 138.937 18.0615C143.847 21.507 160.405 19.0005 165.891 18.4086C179.252 16.967 191.305 14.5725 204.147 12.5077' stroke='%23BEFFA7' stroke-width='12' stroke-linecap='round'/%3E%3C/svg%3E%0A");        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: -210px;
        z-index: -1;
      }
    }

    &-main-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 27px;
    }

    &-p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 22px;
    }

    &-p-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 64px;
    }
  }

  // Fourth section

  &-style-book {
    position: absolute;
    max-width: 100vw;
    top: -350px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  &-section-fourth {
    background-color: $section-yellow-bg;
    z-index: 7;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
  }

  &-wrap-fourth {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
    margin-top: 500px;
    z-index: 2;
    padding-bottom: 220px;

    &-main-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 27px;
    }

    &-p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 22px;
    }
  }

  // fifth section

  &-style-list {
    position: absolute;
    top: -350px;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  &-section-fifth {
    background-color: $section-blue-bg;
    z-index: 7;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: -50px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
  }

  &-wrap-fifth {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
    margin-top: 600px;
    z-index: 2;
    padding-bottom: 120px;

    &-after {
      position: relative;
      z-index: 2;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 350px;
        height: 50px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='331' height='43' viewBox='0 0 331 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.15325 29.5738C5.678 30.4381 14.0745 29.3331 17.4414 28.9124C34.6303 26.7647 51.5772 24.4231 68.8595 22.3629C77.3768 21.3475 125.364 14.1191 132.287 17.098C134.767 18.1653 114.172 23.5898 113.728 25.4991C112.718 29.8523 178.299 22.9804 185.747 22.3757C209.617 20.438 208.868 20.3005 215.107 25.5543C218.975 28.811 222.042 32.3022 227.445 35.329C232.04 37.9033 244.353 32.2076 247.776 30.9845C263.544 25.3504 278.179 19.5729 294.5 14.0108C297.956 12.8328 305.438 9.8347 311.654 9.05505C315.846 8.52931 321.634 8.12204 323.515 7.0204' stroke='%23EEB6CE' stroke-width='13' stroke-linecap='round'/%3E%3C/svg%3E ");        margin-top: 30px;
        margin-top: 40px;
        margin-left: -315px;
        z-index: -1;
      }
    }

    &-main-text {
      font-weight: 800;
      font-size: 64px;
      line-height: 66px;
      margin-bottom: 24px;
    }

    &-p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 22px;
    }
  }

  // sixth section

  &-section-sixth {
    background-color: $section-dark-gray-bg;
    z-index: 7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    top: -100px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
  }

  &-wrap-sixth {
    display: flex;
    color: #FFFFFF;
    align-items: flex-start;
    flex-direction: column;
    top: -50px;
    max-width: 600px;
    z-index: 2;
    padding-top: 100px;

    &-main-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 27px;
    }

    &-p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 67px;
    }

    &-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      margin-bottom: 220px;
    }

    &-card-item {
      width: 325px;
      height: 200px;
      background: $card-dark-gray;
      border-radius: 16px;
      margin: 8px;
      padding: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &-card-text {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  // seventh section

  &-section-seventh {
    background-color: #FFFFFF;
    z-index: 7;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: -160px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
  }

  &-wrap-seventh {
    display: flex;
    color: $primary-text;
    align-items: flex-start;
    flex-direction: column;
    top: -50px;
    max-width: 600px;
    z-index: 2;
    padding-top: 100px;

    &-main-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 32px;
    }

    &-secondary-text {
      font-weight: 400;
      font-size: 48px;
      line-height: 49px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 52px;
    }

    &-list {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;

      &-item {
        margin-bottom: 32px;
      }

      &-li {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      &-sec-text {
        color: $secondary-span-text;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  // end section

  &-section-end {
    background-color: $section-light-gray-bg;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
  }

  &-wrap-end {
    display: flex;
    color: #FFFFFF;
    align-items: flex-start;
    flex-direction: column;
    max-width: 700px;
    margin-left: 30px;
    z-index: 2;
    padding-top: 100px;
    padding-bottom: 100px;

    &-main-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      margin-bottom: 26px;
    }

    &-secondary {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 34px;
    }

    &-button-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-button-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 28px;
    }

    &-svg {
      position: absolute;
      fill: #AAB2BD;
    }

    &-button-type {
      width: 72px;
      height: 72px;
      border-radius: 1000px;
      background-color: $dark-button-connect;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      margin-bottom: 58px;

      &-text {
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        white-space: nowrap;
        position: relative;
        bottom: -50px;
      }
    }

    &-active {
      background-color: $primary-button-red;
      fill: #FFFFFF;
    }

    &-input-type {
      width: 80%;
      margin-bottom: 51px;
    }

    &-after {
      &::after {
        content: "Номер мобильного";
        position: relative;
        left: 23px;
        bottom: -30px;
        color: $secondary-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }

    &-custom-input {
      background-color: inherit;
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 12px;
      height: 20px;
      width: 100%;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      padding: 30px 22px 24px;
    }

    &-bottom-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 80%;
      margin-bottom: 100px;
    }

    &-bottom {
      color: $secondary-text;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
    }

    // manager card

    &-manager {
      display: flex;
      flex-direction: row;

      &-avatar {
        width: 140px;
        height: 140px;
        border-radius: 1000px;
      }

      &-wrap-text {
        display: flex;
        flex-direction: column;
        margin-left: 33px;
      }

      &-main-text {
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 21px;
        position: relative;
      }

      &-secondary-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  // footer

  &-footer {
    background-color: $section-light-gray-bg;
    z-index: 11;
    display: flex;
    justify-content: center;
    width: 100vw;
    border-top: 1px solid $dark-button-connect;

    &-wrap-end {
      display: flex;
      width: 90%;
      color: #FFFFFF;
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }
}