@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import "variables";

li {
  list-style-type: disc;
}

header{
  top: auto;
  bottom: 0;
  padding: 17px;

  .main_logo{
    order: 20;
    background-color: #D9F94B;
  }
}

.section-vh {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-vh-end {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.max_width {
  margin: 0 auto;
  max-width: 1150px;
}

.s {
  &-section-first {
    background-color: #F8F8F8;
    overflow: hidden;
  }

  &-back-style-first {
    position: absolute;
    right: 0;
    bottom: -550px;
  }

  &-wrap-first {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    z-index: 2;

    &-top-text {
      color: $primary-text;
      font-weight: 400;
      font-size: 12px;
      line-height: 143%;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    &-main-text {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 21px;
    }

    &-bottom-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 143%;
      margin-bottom: 25px;
    }
  }

  &-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &-button {
      background-color: $primary-button-red;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 31px 24px 31px;
      border-radius: 16px;
      border: none;
      color: #FFFFFF;

      &-text {
        white-space: nowrap;
      }
    }

    &-secondary {
      color: $secondary-text;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
    }
  }

  // second section

  &-back-style-second {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
  }

  &-section-second {
    background-color: #000000;
    z-index: 5;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &-wrap-second {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    z-index: 2;
    color: #FFFFFF;

    &-main-text {
      font-weight: 800;
      font-size: 32px;
      line-height: 33px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 35px;
    }

    &-under-main-text {
      font-weight: 400;
      font-size: 32px;
      line-height: 33px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 22px;
    }

    &-middle-text {
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 24px;
    }

    &-list {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
    }
  }
}