.b24-form-padding-side {
  padding: unset!important;
}

.b24-form-wrapper {
  background-color: #535364!important;
  border-bottom: unset!important;
}

.b24-form .b24-form-control-label {
  color: #AAB2BD!important;
  font-weight: 400!important;
  opacity: unset!important;
}

.b24-form-field-agreement-link {
  color: #AAB2BD!important;
  font-weight: 400!important;
  font-size: 12px!important;
  line-height: 15px!important;
}

.b24-form-control {
  color: #FFFFFF!important;

  &:focus {
    background-color: unset!important;
  }
}

.b24-form-btn {
  background-color: #FF6464!important;
}